.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgb(0 0 0 / 56%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal__content {
  width: 100%;
  max-width: 900px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal__close-button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}

.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}

p.modal__description {
  font-family: 'Montserrat';
}

.modal__description {
  font-size: 1.125rem;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}


.form__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;
}

.input__modal {
  margin-bottom: 35px;
  padding: 0 0 15px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.form__button {
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  background-color: #20b8ca;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;
}


.form__button:hover {
  background-color: #39d6e9;
}


textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}


.input__modal {
  margin-bottom: 30px;
  font-size: 15px;
  border-color: #e0e0e0;
  width: 100%;
  max-width: 900px;
  background: none;
  font-family: 'Montserrat';
}


.warning__msg {
  color: #626262;
  background: #eeeeee;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.massage__doc {
  cursor: context-menu;
  font-size: 11px;
  text-align: justify;
  font-family: 'Playfair Display';
}